html {
  box-sizing: border-box;
  display: block;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
}

.robot {
  width: 320px;
  display: block;
  padding-top: 4rem;
  margin: 0;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 4rem;
  left: 8.5rem;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  top: 1.6rem;
  left: 9.9rem;
}

.robot-head-left {
  position: absolute;
  top: 1.6rem;
  right: 9.95rem;
}

.robot-head-left:hover {
  position: absolute;
  top: 1.6rem;
  right: 16rem;
}

.robot-head-right:hover {
  position: absolute;
  top: 1.6rem;
  left: 16rem;
}
